*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: #fffefe;
}
nav{
    background-color: #FF4242;
    margin-bottom: 1rem;
    
}

nav ul{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    padding: 10px;
    list-style: none;
}


li a {
    text-decoration: none;
    color: #fff;
}

nav li a:hover{
    color: #ddd;
}

li img{
    width: 45px;
    height: 45px;
    border-radius: 1rem;
}

#conteudo img{
    width: 250px;
    height: 250px;
    border-radius: 1rem;
}

#conteudo{
    margin: 1rem;
    padding: 1rem;  
    display: block;  
}
.sabores{
    margin-top: 2rem;
    background-color: #DD7230;
    padding: 2rem;
    border-radius: 1rem;
}
    
#conteudo h1{
    background-color: #50514F;
    color: #fff;
    padding: 2rem;
    border-radius: 1rem;
}

#conteudo h2{
    margin: 1rem;
}

#conteudo p{
    margin: 0.5rem;
}


button{
    padding: 0.5rem;
    cursor: pointer;
    color: #333;
    background-color: #F2FF49;
    border: none;
    border-radius: 1rem;
}

button:hover{
    background-color: #f5ff69;
}

#carrinho{
    padding: 1rem;
    width: 500px;
    text-align: center;
    background-color: #f5ff69;
    border-radius: 1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#valorAtual{
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 20px;
}

#carrinho p{
    margin-top: 10px;
}

#carrinho button{
    background-color: #DD7230;
    color: #fff;
}

#carrinho h2{
    background-color: #ddd;
    padding: 1rem;
    border-radius: 1rem;
}

#carrinho button:hover{
    background-color: #b96a39;
}

#finalizar{
    
    padding: 1rem;
    width: 500px;
    text-align: center;
    background-color: #f5ff69;
    border-radius: 1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#finalizar button{
    background-color: #DD7230;
    color: #fff;
}

#finalizar p{
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

#finalizar button:hover{
    background-color: #b96a39;
}

#resultado{
    display: none;
    text-align: center;
    background-color: #DD7230;
    color: #fff;
    width: 500px;
    margin: auto;
    padding: 50px;
    border-radius: 1rem;
}

#resultado h1{
    font-size: 3rem;
}

#resultado p{
    font-size: 1rem;
}