.edit-div > input{
    margin: 1rem;
    padding: 0.8rem;
    width: 350px;
    border: none;
}

.newNameBtn{
    margin: 0.5rem;
    padding: 0.5rem;
    width: 150px;
    border: none;
    background-color: #BBD8B3;
    color: black;
    border-radius: 5px;
}

.newNameBtn:hover{
    background-color: #a8d49b;
}