*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body{
    background: url(assets/img/img3.jpg) no-repeat ;
    background-size: cover;
    text-align: center;
}