@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    background-color: #fafafa;
}

#maincont{
    display: flex;
    margin-top: 30px;
}

#bannercont, #formcont{
    flex: 1 1 0;
    width: 50%;
}

#bannercont{
    text-align: right;
}

#bannercont img{
    width: 100%;
    margin-right: 15px;
    margin-top: 25px;
    max-width: 380px;
}

#formcont{
    text-align: center;
}

#formbox{
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 350px;
    margin-top: 30px;
}

#logoinsta{
    width: 175px;
    height: 51px;
    margin: 30px auto 12px;
}

#loginform input{
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
}

#loginform  input[type="submit"] {
    background-color: #b2dffc;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
}

.separator{
    position: relative;
}

.line{
    border-top: 1px solid #dbdbdb;
    width: 268px;
    margin: 25px auto 35px;
}

.separator span{
    position: absolute;
    text-transform: uppercase;
    color: #bbb;
    background-color: #fff;
    top: -6px;
    width: 50px;
    margin-left: -25px;
    font-size: 14px;
}

#facebooklogin{
    margin-bottom: 25px;
}

#facebooklogin a{
    text-decoration: none;
    color: #385185;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facebooklogin img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#facebooklogin span{
    font-weight: bold;
    font-size: 13px;
    margin-top: 1px;
}

#forgotpass{
    margin-bottom: 20px;
    font-size: 12px;
}

#forgotpass a{
    text-decoration: none;
    color: #373799;
}

#registercont{
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 350px;
    margin-top: 10px;
    padding: 25px;
}

#registercont p{
    font-size: 14px;
    color: #262626;
}

#registercont a{
    font-weight: bold;
    color: #4a95f6;
    text-decoration: none;
}

#getappcont{
    text-align: center;
    width: 350px;
}

#getappcont p{
    margin: 20px 0;
    font-size: 13px;
}

#getappcont img {
    width: 136px;
    height: 40px;
}

#getappcont a{
    text-decoration: none;
}

footer{
    text-align: left;
    width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footerlinks{
    display: flex;
}

#footerlinks li{
    margin-right: 10px;
    list-style: none;
}

#footerlinks a, #copyright{
    text-decoration: none;
    color: #8e8e8e;
    font-size: 12px;
}

#copyright{
    margin-top: 10px;
}

@media (max-width: 450px) {
    body{
        background: #fff;
    }

    #bannercont{
        display: none;
    }

    #maincont, #formbox{
        margin-top: 0;
    }

    #formcont, #formbox, #registercont, #getappcont{
        width: 100%;
        border: none;
    }

    footer{
        width: 90%;
    }

    #footerlinks{
        flex-wrap: wrap;
        justify-content: center;
    }

    #footerlinks {
        margin-bottom: 10px;
    }
}