.clear {
    background: transparent;
    border: none;
    color: white;
}
.solid {
    background: white;
    border: none;
    color: rgb(45, 211, 111);
}
.outline {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.error {
    color: white;
    background-color: red;
    display: none;
}